body {
  margin: 0;
  font-family: "Pixelify Sans";
  padding-bottom: 140px;
}

.tagline {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

section {
  width: 100%;
  padding: 64px 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 1311px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* Hero */
.hero {
  width: 100%;
  display: flex;
  padding: 20px 64px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  background: url("/devsoc-web/images/about-me/Header.png");
  background-size: cover;
  background-position: center 20%;
  height: 40vh;
  min-height: 300px;
}

.hero-title {
  color: #fff;
  text-align: right;
  font-size: clamp(40px, 10vw, 150px);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5vw;
}

/* About Me Section */
.about-me .container {
  border-radius: 5px;
  border: 4px solid #8d2c2c;
  background: #fff;
}

.about-me .content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #474747;
  font-size: 18px;
}

.col-left {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1 1 300px;
  min-width: 250px;
}

.junimo {
  width: 125px;
  height: 125px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.col-right {
  display: flex;
  flex: 1 1 250px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  min-width: 250px;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cat {
  width: 302px;
  height: 242px;
  aspect-ratio: 151/121;
  image-rendering: pixelated;
}

/* Favourite Games Section */
.favourite-games .container {
  padding: 40px;
  border-radius: 5px;
  border: 6px solid #daa520;
  background: url(/devsoc-web/images/about-me/fav-games-container.png) lightgray
    50% / cover no-repeat;
}

.favourite-games .tagline {
  color: #fff;
}

.favourite-games p {
  color: #ebeaea;
  font-size: 18px;
}

.favourite-games .content {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 64px;
  flex-wrap: wrap;
}

.favourite-games .game-block {
  flex: 1 1 250px;
  min-width: 220px;
  max-width: 300px;

  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

/* Hobbies Section */
.hobbies .tagline {
  color: #262626;
}

.hobbies .container {
  border-radius: 5px;
  border: 4px solid #8d2c2c;
  padding: 40px;
  background-position: center;
  background:
    linear-gradient(
      0deg,
      rgba(141, 44, 44, 0.2) 0%,
      rgba(141, 44, 44, 0.2) 100%
    ),
    url(/devsoc-web/images/about-me/hobbies-container.png) lightgray 50% / cover
      no-repeat;
}

.hobbies .content {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 64px;
  flex-wrap: wrap;
  align-self: stretch;
  gap: 70px;
}

.hobbies .album-wrapper {
  flex: 1 1 280px;
  max-width: 582px;
  min-width: 220px;

  padding: 28px 28px 28px 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(38, 38, 38, 0.29);
  border-radius: 10px;
  background: #fff;
}

.hobbies .hobbies-col-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hobbies .hobbies-col-2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hobbies .album-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.hobbies p {
  color: #2c2c2c;
  font-family: "Pixelify Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
