body {
  margin: 0;
  font-family: "Pixelify Sans";
  padding-bottom: 50px;
}

.tagline {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.container {
  display: flex;
  width: 1311px;
  height: 493px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* Hero */
.hero {
  width: 100%;
  display: flex;
  padding: 20px 64px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  background: url("/devsoc-web/images/about-me/Header.png");
  background-size: cover;
  background-position: center 20%;
  height: 40vh;
  min-height: 300px;
}

.hero-title {
  position: relative;
  color: #fff;
  text-align: right;
  right: 140px;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5vw;
}

/* About Me Section */
.about-me {
  width: 100%;
  padding: 64px 20px;
  display: flex;
  justify-content: center;
}

.about-me .container {
  border-radius: 5px;
  border: 4px solid #8d2c2c;
  background: #fff;
}

.about-me .content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #474747;
  font-size: 18px;
}

.col-left {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1 1 300px;
  min-width: 250px;
}

.junimo {
  width: 125px;
  height: 125px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.col-right {
  display: flex;
  flex: 1 1 250px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  min-width: 250px;
}

.about-me-col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cat {
  width: 302px;
  height: 242px;
  aspect-ratio: 151/121;
  image-rendering: pixelated;
}

/* Favourite Games Section */
.favourite-games {
  width: 100%;
  padding: 64px 20px;
  display: flex;
  justify-content: center;
}

.favourite-games .container {
  border-radius: 5px;
  background: url(/devsoc-web/images/about-me/fav-games-container.png) lightgray
    50% / cover no-repeat;
}

.favourite-games .tagline {
  color: #fff;
}

.favourite-games p {
  color: #ebeaea;
  font-size: 18px;
}

.favourite-games .content {
  display: flex;
  width: 1234px;
  height: 272px;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 20px;
}

.favourite-games .game-block {
  display: flex;
  width: 283px;
  height: 263px;
  padding: 30px 0;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  text-align: center;
}
