body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  background-color: rgb(255, 250, 234);
}

h1 {
  width: 600px;
  height: 65px;
  aspect-ratio: 120/13;
  position: absolute;
  top: 3px;

  font-size: 54.5px;
  font-family: "Pixelify Sans", sans-serif;
  color: #8d2c2c;
  text-shadow: 0 0 3px rgba(218, 165, 32, 0.88);
}

#subtitle {
  width: 478px;
  height: 23px;
  aspect-ratio: 478/23;
  position: absolute;
  top: 98px;
  text-align: center;

  font-size: 16px;
  font-family: "Pixelify Sans", sans-serif;
  color: goldenrod;
  text-shadow: 1px px #000000;
}

#intro {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 20, 0.98);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Pixelify Sans", sans-serif;
  color: #fffaea;
  letter-spacing: 0.05em;

  z-index: 100;
  transition: opacity 0.8s ease;
}

.name-input-container {
  position: absolute;
  height: 58px;
  width: 290px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
  margin-top: 250px;
  margin-bottom: 25px;
}

.name-input-container label {
  font-size: 1rem;
  text-shadow: 0 0 10px rgba(252, 255, 181, 0.3);
  letter-spacing: 0.05em;
}

#horseName {
  height: 29px;
  width: 245px;

  text-align: center;
  padding: 5px 20px;

  border-radius: 8px;
  border: 3px solid #daa520;
  background: #fff;

  color: #332e2e;
  font-size: 1rem;
  font-family: inherit;

  transition: all 0.3s ease;
}

#startBtn {
  position: absolute;
  display: flex;
  width: 125px;
  height: 39px;
  padding: 10px 19px 10px 18px;
  justify-content: center;
  align-items: center;

  margin-top: 390px;

  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #fffaea;
  background: #daa520;
}
