#game {
    width: 600px;
    height: 300px;
    border: 2px solid rgb(209, 154, 15);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 7px goldenrod;

    
    background-image: url("/devsoc-web/images/sky.jpg");
    background-size: cover;
    image-rendering: pixelated;
    transition: filter 2s linear;
}

#floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(238, 238, 214);
}

#rooftop {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 53px;

    background-image: url("/devsoc-web/images/rooftop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 110% auto; 
    image-rendering: pixelated;
}  

#score {
    position: absolute;
    top: 164px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 19px;

    color: black;
    z-index: 10;
}