#game {
  width: 600px;
  height: 300px;
  border: 2px solid rgb(209, 154, 15);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 7px goldenrod;

  background-image: url("/devsoc-web/images/sky.jpg");
  background-size: cover;
  image-rendering: pixelated;
  transition: filter 2s linear;
}

.finishingGlow {
  animation: pulseGlow 1.8s ease-in-out infinite;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 8px goldenrod;
  }
  50% {
    box-shadow:
      0 0 15px goldenrod,
      0 0 30px rgba(218, 165, 32, 0.9);
  }
  100% {
    box-shadow: 0 0 8px goldenrod;
  }
}

#gameOver {
  position: absolute;
  inset: 0;
  background: rgba(90, 79, 43, 0.75);
  z-index: 80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

#gameOver.show {
  opacity: 1;
  pointer-events: all;
}

#gameOver > h1 {
  font-size: 3rem;
  color: #fcffb5;
  margin-top: 60px;
  text-shadow: 0 0 10px rgba(252, 255, 181, 0.6);
  animation: fadeIn 0.8s ease-out 0.3s;
}

#final-score {
  font-size: 1.5rem;
  color: #fcffb5;
  margin-top: 30px;
  text-shadow: 0 0 10px rgba(252, 255, 181, 0.6);
  animation: fadeIn 0.8s ease-out 0.3s;
}

/* #restartBtn {
  position: absolute;
  top: 200px;
  margin-top: 10px;

  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;

  cursor: pointer;

  background: rgb(213, 23, 23);
  color: white;
  border: none;
  box-shadow: 2px 2px black;
} */

#darkOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
  z-index: 5;
}

.night #darkOverlay {
  opacity: 1;
}

#floor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(238, 238, 214);
}

#rooftop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 6;

  background-image: url("/devsoc-web/images/rooftop2.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 100% auto;
  image-rendering: pixelated;
}

#score {
  position: absolute;
  top: 164px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 19px;

  color: black;
  z-index: 10;
}
