#sun {
  position: absolute;
  left: 0px;
  top: 150px;
  width: 48px;
  height: 48px;
  z-index: 6;

  border-radius: 50%;
  background-color: #fcffb5;
  box-shadow: 0 0 12px white;
}

.sun-moving {
  animation: sunMove 20s linear infinite;
}

@keyframes sunMove {
  0% {
    left: 0px;
    top: 150px;
  }
  25% {
    left: 140px;
    top: 40px;
  }
  50% {
    left: 280px;
    top: 19px;
  }
  75% {
    left: 420px;
    top: 40px;
  }
  100% {
    left: 600px;
    top: 150px;
  }
}

#horse {
  width: 100px;
  height: 72px;
  position: absolute;
  bottom: 40px;
  left: 50px;
  z-index: 6;

  background-image: url("/devsoc-web/images/game/horse.png");
  background-size: cover;
  image-rendering: pixelated;

  transition: filter 0.25s ease;
}

#horse.glow {
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 12px rgba(201, 201, 201, 0.8))
    drop-shadow(0 0 20px rgba(132, 127, 121, 0.6));
}

.lantern {
  width: 20px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  left: 600px;
  z-index: 6;

  background-image: url("/devsoc-web/images/game/lantern2.png");
  background-size: cover;
  image-rendering: pixelated;

  transition: filter 0.6s ease;
}

.lantern.glow {
  filter: drop-shadow(0 0 6px rgba(255, 235, 132, 0.9))
    drop-shadow(0 0 12px rgba(255, 220, 106, 0.8))
    drop-shadow(0 0 18px rgba(255, 194, 40, 0.7));
}
