#sun {
    position: absolute;
    left: 0px;
    top: 150px;
    width: 48px;
    height: 48px;
    z-index: 6;

    border-radius: 50%;
    background-color:#fcffb5;
    box-shadow: 0 0 12px white;
}

.sun-moving {
    animation: sunMove 20s linear infinite;
}

@keyframes sunMove {
    0% {
        left: 0px;
        top: 150px;
    }
    25% {
        left: 140px;
        top: 40px;
    }
    50% {
        left: 280px;
        top: 19px;
    }
    75% {
        left: 420px;
        top: 40px;
    }
    100% {
        left: 600px;
        top: 150px;
    }
}

#horse {
    width: 100px;
    height: 72px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    z-index: 6;
    
    background-image: url("/devsoc-web/images/horse.png");
    background-size: cover;
    image-rendering: pixelated;
}
 
.lantern {
    width: 20px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 600px;
    z-index: 6;

    background-image: url("/devsoc-web/images/lantern2.png");
    background-size: cover;
    image-rendering: pixelated;
}