body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: antiquewhite;
}

h1 {
    position: absolute;
    top: 15px;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(213, 23, 23);
    text-shadow: 2px 2px black;
}

p {
    position: absolute;
    top: 70px;
    width: 225px;
    text-align: center;
    font-size: 16px;
    font-family: "Pixelify Sans", sans-serif;
    color: goldenrod;
    text-shadow: 1px px #000000;
}

#sun {
    position: absolute;

    width: 48px;
    height: 48px;

    border-radius: 50%;
    background-color:#fcffb5;

    border-radius: 50%;
    box-shadow: 0 0 12px white;
    animation: sunMove 20s linear infinite;
}

@keyframes sunMove {
    0% {
        left: 0px;
        top: 150px;
    }
    25% {
        left: 140px;
        top: 40px;
    }
    50% {
        left: 280px;
        top: 19px;
    }
    75% {
        left: 420px;
        top: 40px;
    }
    100% {
        left: 600px;
        top: 150px;
    }
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid rgb(209, 154, 15);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 7px goldenrod;

    
    background-image: url("images/sky.jpg");
    background-size: cover;
    image-rendering: pixelated;
    transition: filter 2s linear;
}

#floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

#rooftop {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 53px;

    background-image: url("images/rooftop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 110% auto; 
    image-rendering: pixelated;
}  

#horse {
    width: 100px;
    height: 72px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    background-image: url("images/horse.png");
    background-size: cover;
    image-rendering: pixelated;
}
 
#lantern {
    width: 20px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: 580px;
    background-image: url("images/lantern2.png");
    background-size: cover;
    image-rendering: pixelated;
}

#score {
    position: absolute;
    top: 164px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 19px;

    color: black;
    z-index: 10;
}
