body {
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }
  
#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-color: #97d0fc;
    transition: background-color 2s linear;
}

#floor {
    width: 600px;
    height: 40px;
    background-color: brown;
    position: absolute;
    bottom: 0px;
}

#horse {
    width: 100px;
    height: 72px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    background-image: url("horse.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#barrel {
    width: 20px;
    height: 40px;
    background-color: brown;
    position: absolute;
    bottom: 40px;
    left: 580px;
}
