body {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  
#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-color: #97d0fc;
    transition: background-color 2s linear;
}

#floor {
    width: 600px;
    height: 40px;
    background-color: brown;
    position: absolute;
    bottom: 0px;
}

#horse {
    width: 100px;
    height: 72px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    background-image: url("horse.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#barrel {
    width: 20px;
    height: 40px;
    background-color: brown;
    position: absolute;
    bottom: 40px;
    left: 580px;
}

#score {
    position: absolute;
    top: 100px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 25px;

    color: #111;
    z-index: 10;
}
